services:
  app:
    image: lytter-app:latest
    build:
      context: .
      dockerfile: Dockerfile.fastapi
    ports:
      - "8000:8000"
    env_file: .env
    restart: unless-stopped
    volumes:
      - ./music.db:/app/music.db
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--no-verbose",
          "--tries=1",
          "--spider",
          "http://127.0.0.1:8000/",
        ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s
