version: '3.8'

services:
  lastfm-stats:
    build:
      context: .
      dockerfile: Dockerfile.fastapi
    ports:
      - "8000:8000"
    volumes:
      - ./data:/app/data
      - ./reflex.db:/app/reflex.db
    environment:
      - API_KEY=${API_KEY}
      - API_SECRET=${API_SECRET}
      - USER_NAME=${USER_NAME}
      - PASSWORD=${PASSWORD}
      - GENIUS_TOKEN=${GENIUS_TOKEN}
      - UPDATE_PASSWORD=${UPDATE_PASSWORD}
    restart: unless-stopped
